.footer__column-links {
    display: flex;
    flex-direction: column;
    margin: 20px 0 16px;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.footer__column-links:last-child {
    margin-bottom: 16px;
}