.khan__buy-link {
    padding: 0;
    margin: 0;
    font-size: 30px;
    line-height: 42px;
    font-weight: 400;
    color: #2f80ed;
    left: 0;
    opacity: 1;
    transition: opacity 0.5s linear 1s;
    text-decoration: none;
}

.khan__buy-link:hover {
    opacity: 0.4;
}